<nav>
  <!-- Brand -->
  <img alt="Brand" />
  <ul>
    <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
    <li><a routerLink="/tables" routerLinkActive="active">Tables</a></li>
    <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
  </ul>
  <div class="account-container">
    <!-- searchComponent -->
    <img
      class="account-brand"
      src="../../../assets/images/account_icon.png"
      alt="Account"
      routerLink="/login"
    />
  </div>
</nav>
