/* Search */
// position: absolute;
// width: 48px;
// height: 48px;
.account-brand {
  /* Account */
  //   position: absolute;
  width: 69px;
  height: 69px;
  //   background-image: url("../../images/account_icon.png");
  background-size: cover;
}
