<nav>
  <!-- Brand -->
  <!-- <img alt="Brand" /> -->
  <ul *ngIf="login()">
    <li><a routerLink="/tables" routerLinkActive="active">Tables</a></li>
    <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
    <li *ngIf="admin()">
      <a routerLink="/employees" routerLinkActive="active">Employees</a>
    </li>
  </ul>
  <div class="account-container">
    <img
      class="account-brand"
      src="../../../assets/images/account_icon.png"
      alt="Account"
      routerLink="/"
    />
  </div>
</nav>
