nav {
  display: flex;
  padding: 22px;
  background-color: var(--main-dark-bg);
  ul {
    margin-left: auto;
    display: flex;
    list-style-type: none;
    li {
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        margin-right: 12px;
        color: black;
        &:hover {
          color: var(--nav-pages-hover-light);
        }
      }
      .active {
        color: var(--nav-pages-hover-light);
      }
    }
  }
  .account-container {
    margin-left: 10%;
    .account-brand {
      width: 48px;
      height: 48px;
      background-size: cover;
    }
  }
}
