<form [formGroup]="profileForm" (ngSubmit)="authEvent()">
  <ng-container *ngIf="!login()">
    <h2>User Login</h2>
    <mat-form-field class="example-full-width">
      <mat-label>email</mat-label>
      <input
        matInput
        style="resize: none; height: 15px"
        placeholder="Michal11"
        formControlName="email"
        type="email"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>password</mat-label>
      <input
        matInput
        style="resize: none; height: 15px"
        placeholder="221313"
        type="password"
        formControlName="password"
      />
    </mat-form-field>
  </ng-container>
  <button class="login" type="submit">
    {{ !!login() ? "Logout" : "Login" }}
  </button>
</form>
