<div class="modal-container" (click)="closeForm($event)">
  <div class="form-container" #outBoxDiv *ngIf="options$ as options">
    <h2>{{ title }}</h2>
    <form [formGroup]="form" #formRef (ngSubmit)="send(form.getRawValue())">
      <div class="row" *ngFor="let field of fields" [formGroup]="form">
        <label *ngIf="field.label && !field.visible">
          {{ field.label }}{{ field.required ? "*" : "" }}
        </label>
        <ng-container [ngSwitch]="field.type" *ngIf="!field.visible">
          <input
            *ngSwitchCase="'input'"
            [type]="field.name === 'Email' ? 'email' : ''"
            [formControlName]="field.name"
            [placeholder]="field.placeholder"
          />
          <input
            *ngSwitchCase="'inputNumber'"
            type="number"
            [formControlName]="field.name"
            [placeholder]="field.placeholder"
          />
          <textarea
            *ngSwitchCase="'text'"
            style="width: 300px; resize: none"
            [formControlName]="field.name"
            [placeholder]="field.placeholder"
          ></textarea>
        </ng-container>
      </div>
      <button class="save" type="submit">{{ btnTitle || "Save" }}</button>
    </form>
  </div>
</div>
