<div class="table-container" *ngIf="!!tables">
  <mat-form-field class="select-table">
    <mat-label>Select an Table</mat-label>
    <mat-select (selectionChange)="selectTable($event.value)">
      <mat-option *ngFor="let table of tables" [value]="table">{{
        table
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="filter-container">
    <div>
      <ng-container *ngFor="let columnIndex of getColumnsArray()">
        <app-filter
          [id]="columnIndex"
          [columns]="columns"
          (columnEvent)="changeCustomColumn($event)"
        ></app-filter>
      </ng-container>
    </div>
    <button>Run</button>
  </div>
  <app-table
    [customColumns]="customColumns"
    [tableContent]="tableColumnContent"
  ></app-table>
</div>

<!-- <ng-container *ngFor="let column of Array.from({ length: customColumns.length }, (_, index) => index + 1)">
      <app-filter
        [id]="column"
        [columns]="columns"
        (columnEvent)="changeCustomColumn($event)"
      ></app-filter>
</ng-container> -->
