<div *ngIf="item" class="item-container">
  <div class="content-wrapper">
    <h2>
      {{ checkType() ? "Product code:" : "Employee Number:" }}
      <strong>{{
        checkType() ? item.productCode : item.employeeNumber
      }}</strong>
    </h2>
    <h3>
      {{ checkType() ? item.productLine : item.firstName }}
      {{ checkType() ? item.productName : item.lastName }}
    </h3>
  </div>
  <div class="content-wrapper middle-content">
    <p>
      {{ checkType() ? "Quantity:" : " email:"
      }}<strong>{{ checkType() ? item.quantityInStock : item.email }}</strong>
    </p>
    <p>
      {{ checkType() ? "BuyPrice:" : "Jobtitle:"
      }}<strong>{{ checkType() ? item.buyPrice : item.jobTitle }}</strong>
    </p>
    <p *ngIf="!checkType()">
      OfficeCode: <strong>{{ item.officeCode }}</strong>
    </p>
    <button class="more-info" (click)="loadEvent()">Show more</button>
  </div>
  <div class="content-wrapper">
    <button class="delete-item" (click)="deleteItem(item)">X</button>
  </div>
</div>
