<div *ngIf="item" class="item-container">
  <div class="content-wrapper">
    <p>
      {{ checkType() ? "Product code: " : "Employee Number: " }}
      <strong>
        {{ checkType() ? item.productcode : item.employeenumber }}</strong
      >
    </p>
    <h3>
      {{ checkType() ? item.productLine : item.firstname }}
      {{ checkType() ? item.productname : item.lastname }}
    </h3>
  </div>
  <div class="content-wrapper middle-content">
    <p>
      {{ checkType() ? "Quantity: " : " email: "
      }}<strong>{{ checkType() ? item.quantitynnstock : item.email }}</strong>
    </p>
    <p>
      {{ checkType() ? "BuyPrice: " : "Jobtitle: "
      }}<strong>{{ checkType() ? item.buyprice : item.jobtitle }}</strong>
    </p>
    <p *ngIf="!checkType()">
      OfficeCode: <strong>{{ item.officecode }}</strong>
    </p>
    <button class="more-info" (click)="loadEvent()">Show more</button>
  </div>
  <div class="content-wrapper">
    <button class="delete-item" (click)="deleteItem(item)">X</button>
  </div>
</div>
