.container {
  padding: 16px;
  margin-top: 24px;
  border-radius: 15px;
  button {
    background-color: var(--container-light);
    &:hover {
      background-color: var(--button-dark);
      cursor: pointer;
      -webkit-box-shadow: 0px -2px 23px 26px var(--container-light);
      -moz-box-shadow: 0px -2px 23px 26px var(--container-light);
      box-shadow: 0px -2px 23px 26px var(--container-light);
    }
  }
  .items-container {
    padding-bottom: 80px;
    padding-top: 80px;
    border-radius: 80px;
    width: 710.156px;
    background-color: var(--container-light);
  }
}
