.container {
  padding: 16px;
  margin-top: 24px;
  border-radius: 15px;
  button {
    background-color: var(--container-light);
    &:hover {
      background-color: var(--button-dark);
      cursor: pointer;
    }
  }
  .items-container {
    padding-bottom: 80px;
    padding-top: 80px;
    border-radius: 80px;
    width: 710.156px;
    background-color: var(--container-light);
  }
}
